build/
.DS_Store
semantic.cache
bin/
target/

*.tmp
*.tmp.obo
*.tmp.owl
*.tmp.json

src/ontology/mirror
src/ontology/mirror/*
src/ontology/reports/*
src/ontology/t4fs.owl
src/ontology/t4fs.obo
src/ontology/t4fs.json
src/ontology/t4fs-base.*
src/ontology/t4fs-basic.*
src/ontology/t4fs-full.*
src/ontology/t4fs-simple.*
src/ontology/t4fs-simple-non-classified.*

src/ontology/seed.txt
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/ontologyterms.txt
src/ontology/simple_seed.txt
src/ontology/patterns
src/ontology/merged-t4fs-edit.owl

src/ontology/target/
src/ontology/tmp/*
!src/ontology/tmp/README.md

src/ontology/imports/*_terms_combined.txt

src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt
